/*
 * Aloha - Clinical Trial List - detail view
 * for `clinicaltrials` pageType
 */

.aloha-matched-list-view {
  display: block;
  width: 100%;
  margin: 0 2em;
  padding: 0;

  h2 {
    vertical-align: middle;
    width: 100%;
    height: 31px;
    overflow: hidden;
    color: #0070c9;
    font-weight: bold;
    font-size: 22px;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 1em;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
  }

  div {
    margin: 1.5em 0 2em;
    padding: 1em 1.5em;
    border: 1px solid $panel-divider-color;
    border-radius: 5px;
    background-color: $tertiary-accent-color;

    h2 {
      margin: 0;
      padding: 0 0 1em 0;
    }

    ul {
      list-style: disc;
      margin: 0;
      padding: 0 1em 0 2em;
    }
  }

  .aloha-clinical-trial-matches {
    .tr {
      padding: 0.3em 0;
    }
    th,
    td {
      padding: 0.1em 0.2em 0.5em 0;
      &:first-child {
        vertical-align: top;
      }
    }
  }

  .trial-description {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 800px;
    height: 55px; /* Fallback for non-webkit */
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0.2em 0;
      padding: 0.1em 0;
      .item-label {
          font-weight: bold;
      }
    }
  }
}
