/*
 * Aloha - Clinical Trial List - detail view
 * for `clinicaltrials` pageType
 */

.aloha-matched-list-view {
  display: block;
  width: 100%;
  margin: 0 2em;
  padding: 0;

  h2 {
    vertical-align: middle;
    width: 100%;
    height: 31px;
    overflow: hidden;
    color: #0070c9;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 1em 0;
    padding: 1em 1em 0.8em 0;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(55, 55, 55, 0.2);
  }

  > div {
    margin: 1.5em 0 2em;
    padding: 1em 1.5em;
    border: 1px solid $panel-divider-color;
    border-radius: 5px;
    background-color: $tertiary-accent-color;
  }

  .no-matched-trials {
    margin: 0;
    padding: 0;
    border: solid 1px rgba(186, 221, 246, 0.9);
    border-radius: 5px;
    background-color: #fff;
  }
  .no-matched-trials h2 {
    vertical-align: middle;
    height: 31px;
    width: auto;
    overflow: hidden;
    color: #0070c9;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 1em 0;
    padding: 1em 0 0.8em 1em;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(186, 221, 246, 0.9);
    background-color: #f6f9fc;
    border-radius: 5px 5px 0 0;
  }
  .no-matched-trials ul {
    margin: 0;
    padding: 0 0 2em 3em;
    font-size: 1em;
  }
  .no-matched-trials ul li {
    line-height: 2;
    font-size: 0.875em;
  }

  .matched-trials {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    font-size: 1em;
  }
  .matched-trials li {
    margin: 1em 0 0.5em;
    padding: 0.1em 0;
  }
  .matched-trials li:first-child {
    margin-top: 0.2em;
  }
  .matched-trials li .item-title {
    margin: 0;
    padding: 0.8em 0 0.9em;
    font-size: 1.125em;
    font-weight: bold;
    border-bottom: 1px solid rgba(55, 55, 55, 0.15);
    line-height: 1.6;
  }
  .matched-trials li .item-summary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.6em 0 0.5em;
    font-size: 1.125em;
    font-weight: bold;
    color: rgba(55, 55, 55, 0.6);
    border-bottom: 1px solid rgba(55, 55, 55, 0.15);
  }
  .matched-trials li .item-id {
    flex: 1 0 50%;
    margin: 0;
    text-align: left;
  }
  .matched-trials li .item-descriptions,
  .matched-trials li .item-conditions {
    line-height: 1.6;
    font-size: 0.875em;
  }
  .matched-trials li .item-phase,
  .matched-trials li .item-status {
    flex: 1 0 15%;
    margin: 0;
    text-align: right;
    text-transform: capitalize;
  }
  .matched-trials li .item-locations {
    line-height: 1.5;
    font-size: 0.875em;
  }
  .matched-trials li .item-locations > span:first-child {
    display: block;
    margin: 0.8em 0 0.4em 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.25em;
    color: rgba(55, 55, 55, 0.6);
  }
  .matched-trials li .item-locations p {
    margin: 0;
    padding: 0 0 0.3em 1.5em;
  }
  .matched-trials li .item-locations p span {
    font-weight: normal !important;
    color: #111111;
    font-size: 100%;
  }
}
