/*
 * Aloha Blue from `matrix-react-sdk`
 */
@import "../../../../node_modules/@alohahealth/matrix-react-sdk/res/themes/AlohaBlue/css/main.scss";
// @import "_variables.scss"; // Overrides theme's variables at riot-web's stack
@import "../../../../node_modules/@alohahealth/matrix-react-sdk/res/css/_components.scss";


/*
 * Aloha's overrides `matrix-react-sdk` components for non-color properties,
 * eg. width, height, margin, padding, etc.
 */
 @import "_AppsDrawer.scss";
 @import "_BaseAvatar.scss";
 @import "_LeftPanel.scss";
 @import "_MatrixToolbar.scss";
 @import "_RoomSubList.scss";
 @import "_RoomTile.scss";
 @import "_SearchBox.scss";
 @import "_FilePanel.scss";
 @import "_EventTile.scss";
 
 /*
  * Aloha's custom components
  */
 @import "_common.scss";
 @import "AlohaLogin.scss";
 @import "AlohaHomepage.scss";